/* GLOBAL BODY */

body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}

/*------------------------------------------------------------------------------------------------*/
/*HEADER*/
/*------------------------------------------------------------------------------------------------*/

/* LOGO */

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.logo-span{
    color: #2e2f42;
}

/* MENU */

.nav-menu-items {
    text-decoration: none;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.nav-menu-items:hover, .nav-menu-items:focus{
    color: #404bbf;
}

/* ADDRESS */

.menu-address{
    font-style: normal;
}

.menu-address ul {
    list-style: none;
    /*padding: 0;*/
    margin: 0;
}

.address-contacts {
    text-decoration: none;
    color: #434455;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.address-contacts:hover, .address-contacts:focus{
    color: #404bbf;
}

/*------------------------------------------------------------------------------------------------*/
/*MAIN*/
/*------------------------------------------------------------------------------------------------*/

/* SECTION 1 */

.order-section {
    background-color: #2e2f42;
}

.order-text {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
}

.order-section > .order-button {
    /*Fles layout */
        /*display: flex;
        align-items: flex-start;*/
        justify-content: flex-start;
        /*flex-direction: row;
        gap: 10px;*/
    /*Box model------------------------------------------------->>>>>>>>>
        border-radius: 4px;
        padding: 16px 32px;
        width: 169px;
        height: 56px;*/
    /*styles*/
        /*box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);*/
        background-color: #4d5ae5;
    /*текст кнокпи*/
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        color: #fff;
    /**/
        cursor: pointer;
    }

    .order-section > .order-button:hover, .order-section > .order-button:focus {
        /*box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);*/
        background-color: #404bbf;
    }

/* SECTION 2 */

.benefit-paragraph {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.benefit-header {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

/*.benefit-section{------------------------------------------------->>>>>>>>>
    width: 1128px;
    height: 104px;
}*/

.benefit-list-section{
/*Box model------------------------------------------------->>>>>>>>>
    width: 264px;
    height: 104px;*/
/*Flex layout*/
    /*display: flex;
    align-items: flex-start;*/
    justify-content: flex-start;
    /*flex-direction: column;
    gap: 8px;*/
}

/* SECTION 3 */

.team-section{
  /*  width: 1440px;------------------------------------------------->>>>>>>>>
    height: 732px;*/
    background-color: #F4F4FD;
}
/* SECTION H2 HEADER  */
.section-h-two-header{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: #2e2f42;
}
/* -------------------------------------------------------------------------------------------------------- */
.team-card {
/*Flex layout*/
    /*display: flex;
    align-items: center;*/
    justify-content: center;
    /*flex-direction: column;
    gap: 32px;*/
/*Box Model------------------------------------------------->>>>>>>>>
    border-radius: 0 0 4px 4px;
    padding: 0px 0px 32px 0px;
    width: 264px;
    height: 380px;*/
/*Styles*/
    /*box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);*/
    background-color: #fff;
}

.card-header {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
}

.card-paragraph {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;
}

/* SECTION 4 */

/*.portfolio-section{
    width: 1128px;------------------------------------------------->>>>>>>>>
    height: 1000px;
}*/

/*.portfolio-row{------------------------------------------------->>>>>>>>>
    width: 1128px;
    height: 420px;
}*/

.project-card{
/*Box model------------------------------------------------->>>>>>>>>
    width: 360px;
    height: 420px;*/
/*styles*/
    background-color: #fff;
}


/*.card-content{

        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-direction: column;
        gap: 8px;

        border-bottom: 1px solid #e7e9fc;
        border-left: 1px solid #e7e9fc;
        border-right: 1px solid #e7e9fc;
        padding: 32px 16px;
        width: 360px;
        height: 120px;
    }*/

.card-header{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.card-paragraph{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

/*------------------------------------------------------------------------------------------------*/
/*FOOTER*/
/*------------------------------------------------------------------------------------------------*/

.footer-class{
    /*width: 1440px;------------------------------------------------->>>>>>>>>
    height: 312px;*/
    background-color: #2e2f42;
}

.footer-logo{
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    /*display: flex;
    align-items: center;*/
    justify-content: flex-start;
    /*flex-direction: row;
    gap: 0px;*/
    /*width: 115px;------------------------------------------------->>>>>>>>>
    height: 24px;*/
}

.footer-paragraph{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    
}

.footer-logo-span{
    color: #f4f4fd;
}