/* GLOBALBODY */

body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}
/*------------------------------------------------------------------------------------------------*/
/*HEADER*/
/*------------------------------------------------------------------------------------------------*/

/* LOGO */

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.logo-span{
    color: #2e2f42;
}

/* MENU */

.nav-menu-items {
    text-decoration: none;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.nav-menu-items:hover, .nav-menu-items:focus{
    color: #404bbf;
}

/* ADDRESS */

.menu-address{
    font-style: normal;
}

.menu-address ul {
    list-style: none;
    margin: 0;
}

.address-contacts {
    text-decoration: none;
    color: #434455;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.address-contacts:hover, .address-contacts:focus{
    color: #404bbf;
}

/*------------------------------------------------------------------------------------------------*/
/*MAIN*/
/*------------------------------------------------------------------------------------------------*/

/* SECTION 1 */

.service-section {
    background-color: #2e2f42;
}

.service-text {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
}

.service-section > .service-button {
        background-color: #4d5ae5;
    /*текст кнокпи*/
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        color: #fff;
    /**/
        cursor: pointer;
    }

    .service-section > .service-button:hover, .service-section > .service-button:focus {
        background-color: #404bbf;
    }

/* SECTION 2 */

.benefit-paragraph {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.benefit-header {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

/* SECTION 3 */

.team-section{
    background-color: #F4F4FD;
}
/* SECTION H2 HEADER  */
.section-h-two-header{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
}
/* -------------------------------------------------------------------------------------------------------- */
.team-card {
    background-color: #fff;
}

.card-header {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.card-paragraph {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

/* SECTION 4 */

.project-card{
    background-color: #fff;
}

.card-header{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.card-paragraph{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

/*------------------------------------------------------------------------------------------------*/
/*FOOTER*/
/*------------------------------------------------------------------------------------------------*/

.footer-class{
    background-color: #2e2f42;
}

.footer-logo{
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.footer-paragraph{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    
}

.footer-logo-span{
    color: #f4f4fd;
}